table {
    border-collapse: collapse;
    width: 100%;
    }

    th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    }

    tr:hover {background-color: coral;}

    th {
    background-color: #04AA6D;
    color: white;
    text-align: center;
    }

    td {
        text-align: center;
    }
